/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

/* 图片的删除按钮 */

.internal-embed .btn-delete{
    position: absolute;
    left: 0;
    top: 14px;
    padding: 0;
    text-align: center;
    background-color: transparent;
    opacity: 0;
}
.internal-embed .btn-delete svg ,
.internal-embed .btn-delete svg path{
    border: none;
    width: 35px;
    cursor: pointer;
    height: auto;
}
.internal-embed:hover .btn-delete {
	opacity: 1;
}
.fast-image-cleaner{
    display: flex;
    /* max-width: 560px; */
    align-items: center;
    justify-content: center;
}
.image-state-logs{
    margin-bottom: 13px;
    margin-top: 5px;
    width: 100%;
}
.image-log-desc{
 color: var(--text-muted);
 font-size: var(--font-ui-smaller);
 padding-top: var(--size-4-1);
 line-height: var(--line-height-tight);
}
[class='modal'] {
    width: var(--dialog-width) !important;
    max-width: var(--dialog-max-width);
    min-width: var(--dialog-width);
}